{% extends 'base.html' %}

{% block content %}

<h4 class="text-center mt-4">Dashboard</h4>

<div class="row mt-4 justify-content-center">
    <div class="col-3">
        <div class="card text-center bg-light">
            <div class="card-header">
                <h5 class="">Encounters</h5>
            </div>
            <div class="card-body">
                <h1 class="card-title">10</h1>
                <a href="" class="btn btn-sm btn-outline-dark">View</a>
            </div>
        </div>
    </div>

    <div class="col-3">
        <div class="card text-center bg-light">
            <div class="card-header">
                <h5 class="">Sample Release</h5>
            </div>
            <div class="card-body">
                <h1 class="card-title">10</h1>
                <a href="" class="btn btn-sm btn-outline-dark">View</a>
            </div>
        </div>
    </div>

    <div class="col-3">
        <div class="card text-center bg-light">
            <div class="card-header">
                <h5 class="">Direct Claim</h5>
            </div>
            <div class="card-body">
                <h1 class="card-title">10</h1>
                <a href="#" class="btn btn-sm btn-outline-dark">View</a>
            </div>
        </div>
    </div>
</div>
<div class="m-5">
    <iframe src="https://earth.google.com/web/@17.67766438,-0,324.76953862a,4227996.67065297d,30.00007502y,0h,0t,0r"
            width="1000" height="450" style="border:0;"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade">
    </iframe>
</div>

{% endblock %}